{
  "nodes": [
    {
      "nodes": [
        {
          "type": "decl",
          "source": {
            "start": {
              "line": 2,
              "column": 3
            },
            "input": {
              "css": ".Thing {\n    background-color: tomato;\n   display: flex;\n    /* to account for the header */\n   height: calc(80vh - 65px);\n}",
              "safe": true,
              "id": "<input css 3>",
              "from": "<input css 3",
            },
            "end": {
              "line": 2,
              "column": 27
            }
          },
          "before": "\n   ",
          "prop": "background-color",
          "between": ": ",
          "value": "tomato"
        },
        {
          "type": "decl",
          "source": {...},
          "before": "\n   ",
          "prop": "color",
          "between": ": ",
          "value": "bisque"
        },
        {...},
        {
          "type": "comment",
          "source": {...},
          "before": "\n   ",
          "left": " ",
          "text": "to account for the header",
          "right": " "
        },
      ]
    }
  ]
}
