"source": {
  {...},
  "input": {
    "css": ".Thing {\n  background-color: tomato;\n color: bisque;\n  display: flex;\n  /* so it doesn't boop the header */\n height: calc(100vh - 65px);\n  justify-content: space-between;\n}",
    "safe": true,
    "id": "<input css 3>",
    "from": "<input css 3>",
  },
  {...}
}
