const cssnano = require("cssnano");
const cssvariables = require("postcss-css-variables");
const responsiveType = require("postcss-responsive-type");
const pseudoContent = require("postcss-pseudo-content-insert");

module.exports = {
  plugins: [
    cssvariables(),
    responsiveType(),
    pseudoContent(),
    cssnano({
      preset: ["default", {
        discardComments: {
          removeAll: true
        }
      }]
    })
  ],
  watch: true
};
